<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="keywords" content="日志">
  <meta name="description" content="查看日志列表">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>日志列表</title>
  <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script src="/javascripts/index.js"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <span><%= username %></span>
    </div>
    <div class="content">
      <% for(var i=0; i < fileList.length; i++){ %>
        <div class="row">
          <% if(fileList[i].type == 'dir') { %>
          <svg aria-label="Directory" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" height="16" width="16" class="icon icon-dir">
            <path fill-rule="evenodd" d="M1.75 1A1.75 1.75 0 000 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0016 13.25v-8.5A1.75 1.75 0 0014.25 3h-6.5a.25.25 0 01-.2-.1l-.9-1.2c-.33-.44-.85-.7-1.4-.7h-3.5z"></path>
          </svg>
          <% } else { %>
          <svg aria-label="File" aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true"
            height="16" width="16" class="icon">
            <path fill-rule="evenodd"
              d="M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z">
            </path>
          </svg>
          <% } %>
          <div class="row-content">
            <% if(fileList[i].type == 'dir') { %>
            <a class="file" href="/file<%= fileList[i].path %>"><%= fileList[i].name %></a>
            <% } else { %>
            <span class="file" onclick="viewFile(this)" data-path="<%= fileList[i].path %>" data-filename="<%= fileList[i].name %>">
              <%= fileList[i].name %>
            </span>
            <% } %>
          </div>
          <% if(fileList[i].type != 'dir') { %>
          <a class="download" href="/download<%= fileList[i].path %>" download="<%= fileList[i].name %>">下载</a>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>

</body>

</html>
